/*tabs die niet actief zijn zijn ook niet zichtbaar*/
.spa { display: none; }

/*icons*/
.fa{
    font-size: 200%;
    padding: 2%;
}

.fa-linkedin{
    color: #1dcaff;
    text-shadow: 1px 1px black;
}

.fa-twitter-square{
    color: #00aced;
    text-shadow: 1px 1px black;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 20px !important;
    text-shadow: 1px 1px 1px 1px #000000;
}

.icon-black{
    color: black;
}

/*rijen*/
.row{
    margin: 5%;
}

/*buttons*/
.btn{
    margin: 2%;
}

.btn-large{
    margin: 2%;
}

/*poster*/
.poster{
    border-radius: 0%;
    height: auto !important;
}

/*logo*/
#navLogo img{
    max-width: 30%;
}

#header{
    max-height: 45px;
    padding-top: 10px;
    padding-right: 10px;
}

/*Lijsten*/
li.collectionLists {
    list-style-type: none;
}

.buttonSpecificMovieList{
    color: #26a69a !important;
}